# DS 3000 HW 1 
#! snip: HW1 
# $\color{red}{\text{SOLUTIONS}}$ 
#! snip-end

Due: Tuesday Sep 18 @ 11:59 PM EST

### Submission Instructions
Submit this `ipynb` file to Gradescope (this can also be done via the assignment on Canvas).  To ensure that your submitted `ipynb` file represents your latest code, make sure to give a fresh `Kernel > Restart & Run All` just before uploading the `ipynb` file to gradescope.

### Tips for success
- Start early
- Make use of Piazza (also accessible through Canvas)
- Make use of Office Hours
- Remember to use cells and headings to make the notebook easy to read (if a grader cannot find the answer to a problem, you will receive no points for it)
- Under no circumstances may one student view or share their ungraded homework or quiz with another student [(see also)](http://www.northeastern.edu/osccr/academic-integrity), though you are welcome to **talk about** (*not* show each other your answers to) the problems.

In [1]:
#! snip: HW1

!python3 -m snip_copy HW1_Solutions.ipynb

#! snip-end

snip-copied: HW1.ipynb

# Part 1 (25 points): Markdown in Jupyter

Use the markdown language below to create your own brief wikipedia-esque description of any subject of interest. 

Your mini-wiki page must include:
- three headers: a title, subtitle and subsubtitle (the #, ##, ### syntax)
- an embedded image from a web address (use an [image hosting site](https://makeawebsitehub.com/free-photo-hosting/) if you'd like to upload your own)
- a table of size at least 3 rows x 3 columns (needn't be correct, but must make sense)
- a list
- a link to another website

Please be brief in your text.  Aim for roughly 3 sentences total of text.  We won't grade based on content, but keep it appropriate for class.  If you make the grader smile, no extra credit will be awarded beyond the satisfaction of having made somebody's day better :)

#! snip: HW1

# The Unofficial Mean Girls Wiki

This serves as a brief introduction to the best movie of all time: **Mean Girls**

![mean girls](https://occ.a.nflxso.net/dnm/api/v6/X194eJsgWBDE2aQbaNdmCXGUP-Y/AAAABb4XP2msE9wsFK_q5rhqAj_omP_b8eTI5_lf3m_F6TxDKs5lJ3XfIXPoOH7lUi49V73nVjl2kI27qUUJ9TTeESrDqmXp94Nu-e4y.jpg?r=374)

## The Plot

Mean Girls follows Cady, who has just moved to town after having been homeschooled and growing up in Africa. She experiences American school for the first time, encountering difficulties with making friends and knowing how to do certain things (for example, she gets up to go to the bathroom, but is forced to ask for permission!). Eventually she makes some friends, Janis and Damian, and develops a crush on a boy, Aaron. However, Aaron is the ex-boyfriend of Regina, the leader of the clique of girls called the Plastics, the most popular girls in school. Janis hatches a plan for Cady to infiltrate the Plastics and destroy them from the inside (which, conveniently for Cady, involves her ending up with Aaron). Things ensue. The main characters and their actors are:

| Character | Actor           |
|-----------|-----------------|
| Cady      | Lindsey Lohan   |
| Regina    | Rachel McAdams  |
| Janis     | Lizzy Caplan    |
| Gretchen  | Lacey Chabert   |
| Karen     | Amanda Seyfried |
| Damian    | Daniel Franzese |
| Aaron     | Jonathan Bennett|

### Why Mean Girls Is The Best

- Made "Fetch" happen
- Who are the *real* mean girls?
    - Is it Regina and the Plastics, who treat everyone as lesser?
    - Or is it Janis, Cady and Damian, who lie and sabotage the Plastics?
- It is a very realistic depiction of mid-2000s high school from the perspective of someone who did not grow up in the US public school system (can confirm).

If you are interested in learning more about Mean Girls, it is currently available on [Netflix](https://www.netflix.com) and here is the actual [wikipedia page](https://en.wikipedia.org/wiki/Mean_Girls)

#! snip-end

# Part 2: Lists and Flow and Functions, Oh my! 
## Part 2.1: Manual Data Entry (20 points)

**Beware**: to complete this part of the assignment, you *must* do it during a weekday when the stock market is open!

How would you collect data on a stock's performance without a computer doing it automatically? Go to [this website](https://www.tradingview.com/) and look up a stock (any stock). You are going to write a function that takes live input of the stock's value (entered by you), saves all inputs in a list, stops once you enter 10 values **or** three consecutive decreasing values (whichever comes first), and returns the values.

For this problem:

- Call your function `my_stock`
- Make sure that you use the `input()` option within your function to accept entries
- Make sure you are saving all entries in a list
- Use `if-else` and a `while` loop
- When you have written the function, call:

`manual_data_entry = my_stock()`

`manual_data_entry`

and click between (or have the pages open side by side) this notebook and the stock to manually enter the stock's value over time (the website updates every 5 seconds).

**Note**: There may be multiple ways to get this function to work, but to receive full points, your function **must** have the five components listed above.

In [2]:
#! snip: HW1

# create the function
def my_stock():
    '''keeps track of a stock's performance
    
    Args:
        None
        
    Returns:
        value_list (list): the data collected
    '''

    value_list = []
    consecutive_decreases = 0
    last_value = None

    while len(value_list) < 10 and consecutive_decreases < 3:
        try:
            # Input
            value = input()
            
            # Save the input in the list
            value_list.append(value)

            # Check for consecutive decreasing values
            if last_value is not None and value < last_value:
                consecutive_decreases += 1
            else:
                consecutive_decreases = 0

            last_value = value

        except ValueError:
            print("Please enter a valid number.")

    return value_list

# Call the function
    # I'm not doing this in the solutions so that the whole thing can knit.
# manual_data_entry = my_stock()

# manual_data_entry

#! snip-end

## Part 2.2: Thinking (5 pts)

In a markdown (text) cell, discuss at least **two** drawbacks to using the function you wrote in Part 2.1 to collect the data the way we did. Make sure you **discuss** the drawbacks, instead of simply listing them. What did we do that was sub-optimal and how could we improve it?

#! snip: HW1

The major drawback is that there are no timestamps on the information we are entering, which means that we wouldn't necessarily be able to recreate, say, a time series plot of the data. Another drawback is that we have to spend our time entering in the data manually, which is inefficient (and more prone to errors) than having a computer simply update the information.

#! snip-end

# Part 3: Numpy
## Part 3.1: Creating Arrays (10 points)

Create the following two arrays using the NumPy library. Call the first array `array_a` and the second array `array_b` (make sure you keep the `import` statement below):

$$\mathbf{array_a} = \begin{bmatrix}3 & 8 & -2 & 3\\
.5 & -1 & 6 & 4\\
-5 & 7 & -42 & 2
\end{bmatrix}$$

$$\mathbf{array_b} = \begin{bmatrix}42 & 38 & 34\\
30 & 26 & 22\\
18 & 14 & 10\\
6 & 2 & -2\\
-6 & -10 & -14
\end{bmatrix}$$

In [3]:
# make sure to import numpy library
import numpy as np

In [4]:
#! snip: HW1


# creating array_a manually with tuples
array_a = np.array([[3, 8, -2, 3],
              [.5, -1, 6, 4],
              [-5, 7, -42, 2]])

# creating array_b taking advantage of .linspace and .reshape
array_b = np.linspace(42, -14, 15).reshape(5, 3)

#! snip-end

In [5]:
# uncomment below to print array_a
#array_a

In [6]:
# uncomment below to print array_b
#array_b

## Part 3.2: Exploring Arrays (15 points)

1. Give the shape, size, ndim, and nbytes for each of the two arrays.
1. Take the transpose of both arrays. Call these `t_array_a` and `t_array_b`.
1. Try to add `array_a` and `t_array_b`, then remove the last column of `t_array_b` and try to add them again. In a markdown cell, explain what happened.

In [7]:
#! snip: HW1

# printing all array_a attributes
print(array_a.shape)
print(array_a.size)
print(array_a.ndim)
print(array_a.nbytes)

#! snip-end

(3, 4)
12
2
96

In [8]:
#! snip: HW1

# printing all array_b attributes
print(array_b.shape)
print(array_b.size)
print(array_b.ndim)
print(array_b.nbytes)

#! snip-end

(5, 3)
15
2
120

In [9]:
#! snip: HW1

# transposing both
t_array_a = array_a.T
t_array_b = array_b.T

#! snip-end

In [10]:
#! snip: HW1

# trying to add array_a to t_array_b
# array_a + t_array_b

#! snip-end

In [11]:
#! snip: HW1

# removing last column of t_array_b (multiple ways to do this)
t_array_b = array_b.T[:,0:4]

# adding again
array_a + t_array_b

#! snip-end

array([[ 45. ,  38. ,  16. ,   9. ],
       [ 38.5,  25. ,  20. ,   6. ],
       [ 29. ,  29. , -32. ,   0. ]])

#! snip: HW1

When we first tried to add them, we received an error that they could not be broadcast together because of their different dimensions. By removing the last column of `t_array_b`, we made sure they were the same dimension and could be added together.

#! snip-end

# Part 4: Pandas Pokémon
## Part 4.1: Reading in Data (5 points)

On Canvas is the `pokedata.csv` file. Read this data set in, using the `Pokedex` as the index column, and print the first few rows of the data. Make sure you keep the `import` statement below!

In [12]:
# make sure to import pandas library
import pandas as pd

In [13]:
#! snip: HW1

# reading in the data, with appropriate index column, and printing the head
pokedata = pd.read_csv('pokedata.csv', index_col='Pokedex')
pokedata.head()

#! snip-end

,Pokemon,MainType,SecondaryType,Height,Weight,Damage,BaseSpeed,Attack,Defense
Pokedex,,,,,,,,,
1,Bulbasaur,Grass,Poison,24,25.2,45,45,49,49
2,Ivysaur,Grass,Poison,39,28.7,60,60,62,63
3,Venusaur,Grass,Poison,79,220.5,80,80,82,83
4,Charmander,Fire,NaN,24,18.7,39,65,52,43
5,Charmeleon,Fire,NaN,43,41.9,58,80,64,58

## Part 4.2: Manipulating Data (20 points)

1. Add a new column to the data set that calculates the BMI of the Pokémon. The formula for BMI using Imperial Units (such as these data contain) is = $703 \times \frac{Weight}{Height^2}$. Print the first few rows.
    - Find out which Pokémon have (a) the highest BMI and (b) the lowest BMI.
1. Create a subset of the Pokémon Data that you created in (1) which (a) includes only Pokémon that have `BaseSpeed >= 60` and (b) **excludes** all Pokémon with the Grass `MainType`. Make sure to save this subset as a new data frame and print the first few rows of the data.
1. Use the `.describe()` function to produce summary statistics for the **full** Pokémon Data from the data from (1). Create a markdown cell and explain:
    - What Series did the `.describe()` function run on? What Series did it not run on? What is the difference, and what does this mean the `.describe()` function is used for?

In [14]:
#! snip: HW1

# creating BMI and then printing the head
pokedata['BMI'] = 703 * (pokedata['Weight'] / (pokedata['Height'] ** 2))
pokedata.head()

#! snip-end

,Pokemon,MainType,SecondaryType,Height,Weight,Damage,BaseSpeed,Attack,Defense,BMI
Pokedex,,,,,,,,,,
1,Bulbasaur,Grass,Poison,24,25.2,45,45,49,49,30.756250
2,Ivysaur,Grass,Poison,39,28.7,60,60,62,63,13.265023
3,Venusaur,Grass,Poison,79,220.5,80,80,82,83,24.837606
4,Charmander,Fire,NaN,24,18.7,39,65,52,43,22.823090
5,Charmeleon,Fire,NaN,43,41.9,58,80,64,58,15.930611

In [15]:
#! snip: HW1

# identifying highest and lowest BMI pokemon (may be a few ways to do this)
print(pokedata['Pokemon'][pokedata.iloc[:,9].idxmax()])
print(pokedata['Pokemon'][pokedata.iloc[:,9].idxmin()])
# note, using argmax, for some reason, it would require +1
# since I didn't tell the students this (and it is admittedly confusing) we'll accept it if they don't add 1
print(pokedata['Pokemon'][pokedata.iloc[:,9].argmax()+1])

#! snip-end

Golem
Haunter
Golem

In [16]:
#! snip: HW1

# creating a subset of fast and non-Fire pokemon
poke_bool = (pokedata.loc[:, 'BaseSpeed'] >= 60) & (pokedata.loc[:, 'MainType']  != 'Grass')
# poke_bool
fast_nograss = pokedata.loc[poke_bool, :]
fast_nograss.head()

#! snip-end

,Pokemon,MainType,SecondaryType,Height,Weight,Damage,BaseSpeed,Attack,Defense,BMI
Pokedex,,,,,,,,,,
4,Charmander,Fire,NaN,24,18.7,39,65,52,43,22.823090
5,Charmeleon,Fire,NaN,43,41.9,58,80,64,58,15.930611
6,Charizard,Fire,Flying,67,199.5,78,100,84,78,31.242704
9,Blastoise,Water,NaN,63,188.5,79,78,83,100,33.387629
12,Butterfree,Bug,Flying,43,70.5,60,70,45,50,26.804489

In [17]:
#! snip: HW1

# using the .describe()
pokedata.describe()

#! snip-end

,Height,Weight,Damage,BaseSpeed,Attack,Defense,BMI
count,151.000000,151.000000,151.000000,151.000000,151.000000,151.000000,151.000000
mean,46.894040,100.766954,64.218543,68.933775,72.913907,68.225166,32.764506
std,37.880717,131.299070,28.585519,26.746880,26.755421,26.916704,23.189403
min,8.000000,0.200000,10.000000,15.000000,5.000000,5.000000,0.035425
25%,28.000000,21.800000,45.000000,46.500000,51.000000,50.000000,20.856877
50%,39.000000,66.100000,60.000000,70.000000,70.000000,65.000000,30.042735
75%,59.000000,124.250000,80.000000,90.000000,92.000000,84.000000,38.245600
max,346.000000,1014.100000,250.000000,140.000000,134.000000,180.000000,153.707174

#! snip: HW1

The `.describe()` function ran only on the numerical series in the data set; it did not run on the series that were categorical in nature. This means that the `.describe()` function is only used for numerical statistical summaries, and we would need to use something else for the categorical series.

#! snip-end